body{
    background-color: #778ca3;
}

h1{
    color:#2c3e50;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th,td{
    width: 12vw;
    height: 12vh;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    border:10px solid #4b6584;
    background-color: #d1d8e0;
    color: #2c3e50;
    padding: 10px;
}

.paint{
    background-color: #4b6584;
    color :#d1d8e0;
}

.bingoNum{
    color :#d1d8e0;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}